<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO LIST</title>
    <link rel="stylesheet" th:href="@{/css/Todo.css}">
    <!--http://localhost:8085/todo/list-->
</head>
<body>
<header>
<h1>TODO LIST</h1>
</header>
<a th:href="@{register}" class="button">할일 등록</a>

    <table>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>날짜</th>
            <th>상태</th>
        </tr>
<th:block th:each="vo : ${list}">
    <tr>
    <td th:text="${vo.r}"></td>
        <td>
            <a th:href="@{'read'(tno=${vo.tno},page=${paging.currentPage})}"
               th:text="${vo.title}"
               th:style="${vo.finished} ? 'color: darkgrey;' : ''"></a>
        </td>
        <td th:text="${vo.writer}" th:style="${vo.finished} ? 'color: darkgrey;' : ''">></td>
    <td th:text="${#temporals.format(vo.dueDate, 'yyyy-MM-dd')}" th:style="${vo.finished} ? 'color: darkgrey;' : ''">></td>
        <td>
            <span th:if="${vo.finished} == true" style="color: darkgrey">완료</span>
            <span th:if="${vo.finished} == false" style="color: red">미완료</span>
        </td>
    </tr>
    </th:block>
    </table>
<div style="width:700px;margin: auto;padding: 10px;text-align: center;">
    전체 글 개수 : <span th:text="${paging.totalCount}"></span> <br>
    <hr>
    <a class="pagenum" th:href="@{'?page=1'}">&lt;&lt;</a>
    <a class="pagenum" th:href="@{'list'(page=(${paging.startPage - 1}))}"
       th:style="${paging.startPage == 1} ? 'display:none;' : ''">&lt;</a>
    <th:block th:each="i : ${#numbers.sequence(paging.startPage, paging.endPage)}">
        <a class="pagenum" th:href="@{'list'(page=${i})}" th:text="${i}"></a>
    </th:block>
    <a class="pagenum" th:href="@{'list'(page=(${paging.endPage + 1} ))}"
       th:style="${paging.endPage == paging.totalPage} ? 'display:none;' : ''">&gt;</a>
    <a class="pagenum" th:href="@{'list'(page=(${paging.totalPage}))}">&gt;&gt;</a>
</div>
</main>
<script th:if="${message}">
    const message = [[${alert}]];
    alert(message);
</script>
<script type="text/javascript">
      /*  const message = `[[${alert}]]`;
        if(message.length !=0) alert(message);*/

    const pnums = document.querySelectorAll('.ieach');
    pnums.forEach(function(item){
        console.log(item);
        if(item.innerHTML=='${paging.currentPage}') {
            item.style.color = 'black';
            item.style.fontWeight = 'bold';
        }else{
            item.style.color = '#37966f';
        }
    });
</script>


</body>
</html>