<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO READ</title>
    <link rel="stylesheet" th:href="@{/css/Todo.css}">
</head>
<body>
<header>
    <h1>TODO READ</h1>
</header>
<table style="width: 500px">
    <tr>
        <th style="width: 60px; height: 50px">번호</th>
        <td><input type="text" name="tno" th:value="${vo.tno}" readonly></td>
    </tr>
    <tr>
        <th style="width: 60px; height: 50px">제목</th>
        <td><input type="text" name="title" th:value="${vo.title}" readonly></td>
    </tr>
    <tr>
        <th style="width: 60px; height: 50px">날짜</th>
        <td><input type="date" name="dueDate" th:value="${vo.dueDate}" readonly></td>
    </tr>
    <tr>
        <th style="width: 60px; height: 50px">내용</th>
        <td><input type="text" name="writer" th:value="${vo.writer}" readonly></td>
    </tr>
    <tr>
        <th style="width: 60px; height: 50px">상태</th>
        <td><input type="checkbox" name="finished" th:checked="${vo.finished}" readonly></td>
    </tr>
    <tr>
        <td colspan="2">
            <form action="" method="post">
            <input type="hidden" name="tno" th:value="${vo.tno}">
            <input type="hidden" name="page" th:value="${page}">
        <a th:href="@{modify(tno=${vo.tno},page=${page})}" class="button" style="text-decoration: none; color: black">수정</a>
        <a th:href="@{list(page=${page})}" class="button" style="text-decoration: none; color: black">목록</a>
            </form>
        </td>
    </tr>

</table>
<script type="text/javascript">
    const message =alert;
    if(message.length !=0)
        alert(message);
</script>
</body>
</html>