<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO REGISTER</title>
    <link rel="stylesheet" th:href="@{/css/Todo.css}">
</head>
<body>
<header>
<h1>TODO REGISTER</h1>
</header>
<table style="width: 500px">
<form action="register" method="post">
    <tr>
        <th style="width: 60px; height: 50px">제목</th>
        <td><input type="text" name="title" placeholder="제목을 입력해주세요."></td>
    </tr>
    <tr>
        <th style="width: 60px; height: 50px">날짜</th>
        <td><input type="date" name="dueDate">
    </tr>
    <tr>
        <th style="width: 60px; height: 50px">내용</th>
        <td><input type="text" name="writer" placeholder="내용을 입력해주세요."></td>
    </tr>
    <tr>
        <td colspan="3">
            <button type="button" onclick="location.href='list'">뒤로가기</button>
            <button type="reset">RESET</button>
            <button type="submit">등록</button></td>
    </tr>
</form>
</table>
<script th:if="${message}">
    const message = [[${alert}]];
    alert(message);
</script>
</body>
</html>